%filter-active {
    text-decoration: underline;
    color: red;
}

%filter-title {
    font-size: 14px;
    letter-spacing: 0.2px;
    cursor: pointer;

    &:hover {
        color: red;
    }

    &.active {
        margin-bottom: 3px;
    }
}

%pagination-arrow {
    padding: 0px 15px;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
        color: red;
        border: 1px solid red;
    }
}